{erl_opts, [debug_info]}.

{deps, [
  {jsx, "~> 3.0"},
  {providers, "~> 1.8.1"},
  {giftwrap, {path, "../giftwrap"}}
]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors, {d, 'LAUNCHER_VERSION', "0.1.0"}]},
    {deps, [
      {giftwrap, "~> 0.1.0"}
    ]}
  ]}
]}.

{alias, [
  {fetch, [install_deps, {unlock, "giftwrap"}]},
  {build, [compile, {unlock, "giftwrap"}]}
]}.

{plugins, [
  {rebar3_path_deps, "~> 0.4.0"}
]}.
