{deps, []}.

{escript_name, "hello.escript"}.
{escript_emu_args, "%%! -escript main hello"}.

{overrides, [
  {override, rebar3_giftwrap, [
    {erl_opts, [{d, 'DEV_LAUNCHER'}]},
    {profiles, [
      {prod, [
        {deps, [
          {giftwrap, {path, "../../lib/giftwrap"}}
        ]}
      ]}
    ]}
  ]}
]}.

{alias, [
  {fetch, [install_deps, {giftwrap, get}]},
  {build, [compile, escriptize, {giftwrap, build}]}
]}.

{project_plugins, [
  {rebar3_giftwrap, "~> 0.1.0"}
]}.
